.datepiker__slider {
  width: 115px;
}
.datepiker__slider__arrow {
  color: #ADBFDF;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.datepiker__slider__icon {
  color: #ADBFDF;
}