.datepiker__slider {
  width: 115px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.datepiker__slider__arrow {
  color: #adbfdf;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

.datepiker__slider__arrow:hover {
  color: #002cfb;
}

.datepiker__slider__calendar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


.datepiker__slider__icon {
  fill: #adbfdf;
  margin-right: 10px;
  cursor: pointer;

  width: 18px;
  height: 18px;

  display: block;
  flex-shrink: 0;  
}
@-moz-document url-prefix() {
  .datepiker__slider__icon {
    transform: translateY(-10%);
  }
}
.datepiker__slider__icon:hover {
  fill: #002cfb;
}

.datepiker__container {
  position: relative;
}

.dropdown {
  position: absolute;
  top: 39px;
  right: 0px;
  width: 204px;
  height: 239px;
  border-radius: 4px;
  border: 1px solid #eaf0fa;
  background-color: #fff;
  box-shadow: 0px 4px 8px #e9edf3cc;
  cursor: pointer;
  font-size: 14px;
  z-index: 1000;
}

.dropdown__item {
  height: 40px;
  display: flex;
  align-items: center;
  color: #899cb1;
  padding-left: 20px;
}

.dropdown__item--active {
  color: #002cfb;
}

.dropdown__item:hover {
  background-color: #dee4ff;
  color: #2b2d33;
}

.dropdown__item--custom {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  height: 76px;
}

.dropdown__item__label {
  position: relative;
  color: #122945;
  padding-left: 20px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.datepiker__slider__label{
  color: #002cfb;

}

.dropdown__item__input {
  margin-top: 10px;
  padding-right: 30px;
  color: #899cb1;
  width: 100%;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
  border: none;
  outline: none;
}

.dropdown__item__input::placeholder {
  color: #adbfdf;
}

.dropdown__item__icon {
  position: absolute;
  right: 16px;
  top: calc(100% - 18px);
  color: #adbfdf;
}
.dropdown__item__icon:hover {
  color: #002cfb;
  cursor: pointer;
}
