

.call__item--grade {
  padding: 5px 7px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
  display: inline-block;
  border: 1px solid transparent;
}


.grade--bad {
  width: 55px;
  height: 26px;
  background-color: #FEE9EF;
  border-color: #EA1A4F;
  color: #EA1A4F
}

.grade--good {
  width: 66px;
  height: 26px;
  background-color: #D8E4FB;
  border-color: #ADBFDF;
  color: #122945
}

.grade--excellent {
  width: 75px;
  height: 26px;
  background-color: #DBF8EF;
  border-color: #28A879;
  color: #28A879
}