.call__item__list {
  width: 1400px;
  height: 65px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  border-top: 1px solid #eaf0fa;
}

.call__item__list:hover {
  background-color: #d4dff32b;
  cursor: pointer;
}

.call__item {
  display: flex;
  justify-content: center;
  align-items: center;
}

.call__item--in__out {
  width: 54px;
}

.call__item--date,
.call__item--time {
  width: 88px;
  color: #122945;
}
.call__item--avatar {
  width: 129px;
}

.call__item--person {
  width: 325px;
  color: #122945;
}

.call__item--to {
  width: 214px;
  padding-right: 20px;
}

.call__item--status {
  width: 110px;
  display: flex;
  justify-content: start;
  padding-left: 30px;
}

.call__item--record,
.call__item--time__record {
  width: 461px;
  display: flex;
  justify-content: end;
}

.call__item--time__record {
  color: #122945;
}
